<!-- Show recent activities -->
<ul id="list-activities" class="no-style content-activities content-module-activities">
  <% @activities.each do |act| %>
    <li class="activity-item">
      <span class="activity-item-date">
        <%= l act.created_at, format: :full %>
      </span>
      <span class="activity-item-text"><%= act.message.html_safe %>
      </span>
    </li>
  <% end %>
</div>
